{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "react",
    "stage-1",
    "stage-2"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-assign"
  ],

  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
