registry=https://registry.npmjs.org/
@appfolio:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_NPM_TOKEN}
sass_binary_site=https://github.com/sass/node-sass/releases/download/
always-auth=true
cache=tmp/node_cache
