$saffron-light-gray: #e0e0e0;
$saffron-lightest-gray: #f6f6f6;
$saffron-darkest-gray: #303030;
$saffron-dark-gray: #b3b3b3;

.card-container {
  background-color: $saffron-lightest-gray;
  margin-top: 10px;
  margin-bottom: 2em;
  box-shadow: 0 1px 3px rgba(111, 127, 136, 0.12), 0 1px 2px rgba(111, 127, 136, 0.24);
}

.card-container__title {
  background: $saffron-light-gray;
  border-bottom: none;
  color: $saffron-darkest-gray;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
  position: relative;
}

.card-container__body {
  padding: 1rem 1.5rem;
}

.icon-caret-right {
  color: $saffron-dark-gray;
  width: 0.5em;
}
