$color-placeholder: #aaa;

.credit-card-form {
  /* Chrome */ ::-webkit-input-placeholder { color: $color-placeholder; }
  /* IE 10+ */ :-ms-input-placeholder { color: $color-placeholder; }
  /* FireFox */ ::-moz-placeholder, :-moz-placeholder {
    color: $color-placeholder;
    opacity: 1;
  }
}
