$dark-gray: #b3b3b3;

.pairContainer {
  border: 1px solid $dark-gray;
  border-radius: 5px;
  display: inline-block;
  white-space: nowrap;

}

.label {
  border-radius: 5px 0 0 5px;
  display: inline-block;
}

.value {
  white-space: nowrap;
  display: inline-block;
}
