:global {
  // Import and override react-select's SCSS variables to match BS4:
  $select-input-height: 2.35rem !default;
  $select-input-internal-height: 2.25rem !default;

  // Override react-select styles to match Saffron (TODO move to theme?)
  $select-input-bg-disabled: inherit;
  $select-input-border-color: #d9d9d9;
  $select-option-focused-bg: inherit;
  $select-option-focused-color: inherit;
  $select-text-color: #55595c;

  // TODO correct inner padding, colors to match BS styles

  @import '~react-select-plus/scss/default.scss';

  // The default right padding for the input is 10px, which puts the cursor quite deep into the
  // component.  By reducing this to 0.5rem the input looks more natural and the cursor does not
  // overlap any placeholder text.
  .Select-input {
    padding-left: 0.5rem;
  }

  .Select-input > input {
    height: 100%;
    padding: 0;
  }

  .Select-value {
    // Allow space for the "x" and prevent text overlap
    padding-right: 3rem !important;
  }
}
