// Color of the darkest segment.  All other segments will have a reduced opacity
$base-color: #3179CD;

// Time for one complete spin cycle
$duration: 1.2s;

// Every other size is in ems so will scale with the font size.
$font-size: 12px;

$container-size: 5em;
$segment-width: .5em;
$segment-length: 1.5em;
$segment-border-radius: .5em;

@keyframes spin {
  to { transform: rotate(1turn); }
}

.spinner {
  animation: spin $duration infinite steps(12);
  display: inline-block;
  font-size: $font-size;
  height: $container-size;
  margin: 0 .5em;
  overflow: hidden;
  position: relative;
  width: $container-size;

  &:before,
  &:after,
  > *:before,
  > *:after {
    background: $base-color;
    border-radius: $segment-border-radius;
    box-shadow: 0 ($container-size - $segment-length) $base-color;
    content: '';
    height: $segment-length;
    left: ($container-size - $segment-width) / 2;
    position: absolute;
    top: 0;
    transform-origin: 50% ($container-size / 2);
    width: $segment-width;
  }

  &:before {
    background: rgba($base-color, 0);
  }

  &:after {
    background: rgba($base-color, 0);
    transform: rotate(30deg);
  }

  > .a:before {
    background: rgba($base-color, .2);
    transform: rotate(60deg);
  }

  > .a:after {
    background: rgba($base-color, .4);
    transform: rotate(90deg);
  }

  > .b:before {
    background: rgba($base-color, .6);
    transform: rotate(120deg);
  }

  > .b:after {
    background: rgba($base-color, .8);
    transform: rotate(150deg);
  }
}
