// TODO should not use a Saffron color here
// Color of the darkest segment.  All other segments will have a reduced opacity
$base-color: #3179CD;

// Time for one complete spin cycle
$duration: 1.2s;

$container-size: 1em;
$segment-width: .1em;
$segment-length: .3em;
$segment-border-radius: .1em;

@keyframes spin {
  to { transform: rotate(1turn); }
}

@mixin spinner-color($color) {
  &:before,
  &:after,
  > *:before,
  > *:after {
    background: $color;
    box-shadow: 0 ($container-size - $segment-length) $color;
  }

  &:before {
    background: rgba($color, 0);
  }

  &:after {
    background: rgba($color, 0);
  }

  > div:nth-child(1) {
    &:before {
      background: rgba($color, .2);
    }

    &:after {
      background: rgba($color, .4);
    }
  }

  > div:nth-child(2) {
    &:before {
      background: rgba($color, .6);
    }

    &:after {
      background: rgba($color, .8);
    }
  }
}

.spinner {
  animation: spin $duration infinite steps(12);
  display: inline-block;
  height: $container-size;
  margin: 0 .1em;
  overflow: hidden;
  position: relative;
  width: $container-size;

  &:before,
  &:after,
  > *:before,
  > *:after {
    border-radius: $segment-border-radius;
    content: '';
    height: $segment-length;
    left: ($container-size - $segment-width) / 2;
    position: absolute;
    top: 0;
    transform-origin: 50% ($container-size / 2);
    width: $segment-width;
  }

  &:after {
    transform: rotate(30deg);
  }

  > div:nth-child(1) {
    &:before {
      transform: rotate(60deg);
    }

    &:after {
      transform: rotate(90deg);
    }
  }

  > div:nth-child(2) {
    &:before {
      transform: rotate(120deg);
    }

    &:after {
      transform: rotate(150deg);
    }
  }

  @include spinner-color($base-color);
}
