// TODO these colors need to instead come from Bootstrap classes like muted/info/success/etc for theming:
$line: 1px;
$todo: #818a91; // Saffron color-muted, needs to be text-muted

.steps {
  align-items: flex-start;
  counter-reset: step;
  display: flex;
  justify-content: space-around;
  padding: 0;
  .step {
    background-image: linear-gradient(to right, $todo, $todo);
    background-size: 100% $line;
    background-position: center 1.26rem;
    background-repeat: repeat-x;  

    align-items: center;
    display: inline-flex;
    flex-direction: column;
    flex: 1 1 0;
    list-style: square;
    padding:  0.1rem;
    text-align: center;

    &:first-child {
      background-image: linear-gradient(to right, transparent 50%, $todo 50%, $todo 100%);
      &.active {
        background-image: linear-gradient(to right, transparent 50%, $todo 50%, $todo 100%);
      }
      &.complete {
        background-image: linear-gradient(to right, transparent 50%, currentColor 50%, currentColor 100%);
      }
    }
    &:last-child {
      background-image: linear-gradient(to right, $todo 50%, transparent 50%, transparent 100%);
      &.active {
        background-image: linear-gradient(to right, currentColor 50%, transparent 50%, transparent 100%);
      }
      &.complete {
        background-image: linear-gradient(to right, currentColor 50%, transparent 50%, transparent 100%);
      }
    }

    .bubble {
      align-items: center;
      background-color: white;
      border: $line solid $todo;
      border-radius: 100%;
      display: flex;
      font-size: 1.25rem;
      font-weight: bold;
      height: 2.5rem;
      justify-content: center;
      margin-bottom: 0.5rem;
      width: 2.5rem;
    }

    &.active {
      background-image: linear-gradient(to right, currentColor 50%, $todo 50%, $todo 100%);
      .bubble {
        border: $line solid currentColor;
      }
    }

    &.complete {
      background-image: linear-gradient(to right, currentColor, currentColor);
      .bubble {
        border: $line solid currentColor;
      }
    }
  }
  
    &.complete {
      .step {
        background-image: linear-gradient(to right, currentColor, currentColor);
        .bubble {
          border: $line solid currentColor;
        }
        &:first-child {
          background-image: linear-gradient(to right, transparent 50%, currentColor 50%, currentColor 100%);
        }
        &:last-child {
          background-image: linear-gradient(to right, currentColor 50%, transparent 50%, transparent 100%);
        }
      }
    }
}
