// TODO these colors need to instead come from Bootstrap classes like muted/info/success/etc for theming:
$line: 1px;
$done: #0275d8; // Saffron color-primary
$active: #0275d8;
$todo: #818a91; // Saffron color-muted
$complete: #21971d; // Saffron color-success

.steps {
  align-items: flex-start;
  counter-reset: step;
  display: flex;
  justify-content: space-around;
  padding: 0;
  .step {
    background-image: linear-gradient(to right, $todo, $todo);
    background-size: 100% $line;
    background-position: center 1.26rem;
    background-repeat: repeat-x;  

    align-items: center;
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    list-style: square;
    padding:  0.1rem;
    text-align: center;

    &:first-child {
      background-image: linear-gradient(to right, transparent 50%, $todo 50%, $todo 100%);
      &.active {
        background-image: linear-gradient(to right, transparent 50%, $todo 50%, $todo 100%);
      }
      &.complete {
        background-image: linear-gradient(to right, transparent 50%, $done 50%, $done 100%);
      }
    }
    &:last-child {
      background-image: linear-gradient(to right, $todo 50%, transparent 50%, transparent 100%);
      &.active {
        background-image: linear-gradient(to right, $done 50%, transparent 50%, transparent 100%);
      }
      &.complete {
        background-image: linear-gradient(to right, $done 50%, transparent 50%, transparent 100%);
      }
    }

    .bubble {
      align-items: center;
      background-color: white;
      border: $line solid $todo;
      border-radius: 100%;
      display: flex;
      font-size: 1.25rem;
      font-weight: bold;
      height: 2.5rem;
      justify-content: center;
      margin-bottom: 0.5rem;
      width: 2.5rem;
    }

    &.active {
      background-image: linear-gradient(to right, $done 50%, $todo 50%, $todo 100%);
      .bubble {
        border: $line solid $active;
      }
    }

    &.complete {
      background-image: linear-gradient(to right, $done, $done);
      .bubble {
        border: $line solid $done;
      }
    }
  }
  
    &.complete {
      .step {
        background-image: linear-gradient(to right, $complete, $complete);
        .bubble {
          border: $line solid $complete;
        }
        .text {
          opacity: .5;
        }
        &:first-child {
          background-image: linear-gradient(to right, transparent 50%, $complete 50%, $complete 100%);
        }
        &:last-child {
          background-image: linear-gradient(to right, $complete 50%, transparent 50%, transparent 100%);
        }
      }
    }
}
