.date_month {
  display: inline-block;
  font-family: sans-serif;
  min-width: 150px;
  position: relative;
  width: 100%;
  input:invalid {
    border-color: #c61a0c;
  }
  footer {
    border-top: 1px solid lightgrey;
    padding: 8px;
    text-align: center;
  }
  .picker {
    background-color: white;
    border: 1px solid rgb(192, 192, 192);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 300px;
    z-index: 1000;
    li {
      cursor: pointer;
      list-style: none;
      padding: 4px;
      text-align: center;
      transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
    }
    ul {
      column-count: 2;
    }
  }
  .year {
    border-left: 1px solid lightgrey;
  }
}

.date_month *,
.date_month *:before,
.date_month *:after {
  box-sizing: border-box
}

.datemonth {
  footer,
  header {
    display: block
  }
  ul {
    margin-top: 0;
    margin-bottom: 10px
  }
}

.date_month .picker ul,
.date_month .picker header {
  margin: 0;
  padding: 4px;
}
