.date_month {
  display: inline-block;
  min-width: 150px;
  position: relative;
  width: 100%;
  input:invalid {
    border-color: #c61a0c; // TODO remove with bs4 hasFeedback, etc
  }
  footer {
    border-top: 1px solid lightgrey;
  }
  .picker {
    min-width: 20em;
    li {
      cursor: pointer;
      list-style: none;
      transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
    }
    ul {
      column-count: 2;
      column-gap: 0;
    }
  }
  .year {
    border-left: 1px solid lightgrey;
  }
}

.date_month *,
.date_month *:before,
.date_month *:after {
  box-sizing: border-box
}

.datemonth {
  footer,
  header {
    display: block
  }
}

