name: release-please-pr

on:
  pull_request:
    types:
      - closed
    branches:
      - master

jobs:
  release-pr:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    if: ${{ github.event.pull_request.merged == true && !startsWith(github.head_ref, 'release-please--branches--') }}
    env:
      YARN_RC_FILENAME: .yarnrc-public.yml
    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: '24.11.0'
      - uses: google-github-actions/release-please-action@v3
        id: release-please
        with:
          release-type: node
          package-name: '@appfolio/react-gears'
          changelog-types: '[{"type":"feat","section":"Features","hidden":false},{"type":"fix","section":"Bug Fixes","hidden":false},{"type":"chore","section":"Miscellaneous","hidden":false},{"type":"refactor","section":"Miscellaneous","hidden":false}]'
          command: release-pr
