on:
  push:
    branches:
      - master

name: release-please

jobs:
  release-github:
    runs-on: ubuntu-latest
    environment: ci
    env:
      CODEARTIFACT_REGISTRY_SERVER: ${{ vars.CODEARTIFACT_REGISTRY_SERVER }}
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          release-type: node
          package-name: '@appfolio/react-gears'
          command: github-release
      - uses: actions/checkout@v5
        if: ${{ steps.release.outputs.release_created }}
      - uses: actions/setup-node@v6
        if: ${{ steps.release.outputs.release_created }}
        with:
          node-version-file: '.tool-versions'
      - uses: ./.github/actions/prep-secure-registries
        if: ${{ steps.release.outputs.release_created }}
        with:
          aws-access-key-id: ${{ secrets.SHARED_CODEARTIFACT_AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.SHARED_CODEARTIFACT_AWS_SECRET_KEY }}
      - run: yarn install --immutable
        if: ${{ steps.release.outputs.release_created }}
      - run: yarn dist
        if: ${{ steps.release.outputs.release_created }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        if: ${{ steps.release.outputs.release_created }}
        with:
          name: dist
          path: |
            esm/
            lib/
          retention-days: 1
          if-no-files-found: error
      - name: Publish to GitHub
        run: |
          npm config set registry https://npm.pkg.github.com
          npm config set //npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}
          npm publish
        if: ${{ steps.release.outputs.release_created }}

  release-public:
    runs-on: ubuntu-latest
    needs: release-github
    if: ${{ needs.release-github.outputs.release_created == 'true' }}
    env:
      YARN_RC_FILENAME: .yarnrc-public.yml
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.tool-versions'
      - name: Download dist artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist
      - name: Publish to npm
        run: |
          npm config set registry https://registry.npmjs.org
          npm publish --access public
