on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: test

jobs:
  test:
    runs-on: ubuntu-latest
    environment: ci
    env:
      CODEARTIFACT_AUTH_TOKEN: ${{ secrets.CODEARTIFACT_AUTH_TOKEN }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.tool-versions'
      - run: yarn install --immutable
      - run: yarn lint
      - run: yarn format
      - run: yarn test
